.header {
    color: #fff;
    margin-bottom: 79px;

}



.header.about__header,
.header.bicycles__header,
.header.contacts__header,
.header.servises__header {
    background-color: #212223;


}



.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #62656A;
    align-items: center;
}

.header__info-list {
    display: flex;
    gap: 44px;
}

.info__list-item {
    display: flex;
    text-align: center;
    gap: 10px;

}


.info__item-img {}

.info__item-link {}

.header__social-list {
    display: flex;
    gap: 13px;
}

.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.header__bottom-list {
    display: flex;
    gap: 32px;
}

.bottom__list-link:hover {
    text-decoration: underline 2px;
    text-underline-offset: 5px;

}

.header__hello {
    color: #fff;
    padding-bottom: 185px;
}

@media (max-width:584px) {
    .header__top {
        display: none;
    }

    .header {
        margin-bottom: 0;
    }

    .header__bottom-list {
        flex-direction: column;
    }

}