.header {
    color: #fff;
    margin-bottom: 79px;

}

.menu {
    display: none;
    flex-direction: column;
    width: 40px;
    height: 40px;
    justify-content: space-between;
    position: relative;
    top: 0;
    right: 0;
    z-index: 50;
}

.menu.active {
    position: fixed;
    top: 30px;
    right: 15px;
}

.menu span {
    border-radius: 5px;
    width: 40px;
    height: 5px;
    background-color: floralwhite;
}

.header.about__header,
.header.bicycles__header,
.header.contacts__header,
.header.servises__header {
    background-color: #212223;


}



.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #62656A;
    align-items: center;
    gap: 10px;
}

.header__info-list {
    display: flex;
    gap: 44px;
}

.info__list-item {
    display: flex;
    text-align: center;
    gap: 10px;
    max-width: 300px;

}


.info__item-img {}

.info__item-link {}

.header__social-list {
    display: flex;
    gap: 13px;
}

.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.header__bottom-list {
    display: flex;
    gap: 32px;

}

.bottom__list-link:hover {
    text-decoration: underline 2px;
    text-underline-offset: 5px;

}

.header__hello {
    color: #fff;
    padding-bottom: 185px;
}

.header__bottom-list.active {
    transform: translateX(0);
}

@media (max-width:1700px) {
    .header {
        padding: 0 10px;
    }
}

@media (max-width:746px) {
    .header__top {
        display: none;
    }

    .menu {
        display: flex;
    }

    .header__bottom-list {
        flex-direction: column;
        background-color: #212223;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
        transition: all ease 0.3s;
        gap: 57px;
    }

    .bottom__list-item a {
        font-size: 1.4em;
    }
}

@media (max-width:706px) {
    info__list-item {}
}