.trialem {


    margin-left: 70px;

    margin-bottom: 150px;

    background-image: url(/public/images/black-bike-bg.png), url(/public/images/why-bg.png);
    background-repeat: no-repeat;
    background-position: top left, top right;
    background-size: 800px, 100% 100%;

}

.trialem__inner {
    padding: 100px 0;
    display: flex;
    justify-content: flex-end;


}

.trialem__text {
    max-width: 520px;
}



.about__trialem {}

.trialem__title {
    font-family: "Anton", serif;
    line-height: 73px;
    font-weight: 400;
    font-size: 62px;
    color: #B2B2B9;
    margin-bottom: 53px;
    max-width: 196px;
    text-transform: uppercase;
}

.trialem-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px;
    color: #fff;
}

.trialem-grid-item.pricing__box-desciption {
    color: #62656A;
}

.trialem-grid-item {
    display: inline;
}

@media (max-width:994px) {
    .trialem {

        margin-left: 0px;
    }

}