.about {
    padding: 100px 0;
    max-height: 100%;
}

.about__inner {
    display: flex;
    gap: 100px;
    max-width: 1170px;
    margin: 0 auto;
}

.about__img {
    max-width: 599px;
    max-height: 100%;
}

.about__rent {}

.about__title {
    font-family: "Anton", serif;
    line-height: 73px;
    font-weight: 400;
    font-size: 62px;
    color: #353637;
    margin-bottom: 53px;

    text-transform: uppercase;
}


.about__discount {
    max-width: 307px;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: lighter;

}

.about__buttons {
    display: flex;
    gap: 11px;
}

.about-btn {
    padding: 13px 20px;
    background-color: #FF285B;
    border-radius: 2px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

.subscribe-btn {
    padding: 13px 20px;
    background-color: transparent;
    border: 2px solid #62656A;
    border-radius: 2px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #62656A;
}

@media (max-width:1038px) {
    .about__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__title {}

}